Repository carloslone/OpenHackDevOps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @carloslone, @dayala12, @inggmurillot, @alexumanamonge

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update HealthCheckTests.cs
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @carloslone

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @carloslone

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @carloslone

Update README.md
  README.md
Owners: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Create dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update README.md
  apis/trips/README.md
Owners: @dayala12

Update README.md
  apis/poi/README.md
Owners: @carloslone

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update README.md
  apis/poi/README.md
Owners: @carloslone

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update README.md
  apis/poi/README.md
Owners: @carloslone

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @carloslone

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update README.md
  apis/poi/README.md
Owners: @carloslone

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @carloslone

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update README.md
  apis/poi/README.md
Owners: @carloslone

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @carloslone

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

.github/CODEOWNERS:

apis/poi @carloslone
apis/trips @dayala12
apis/user-java @inggmurillot
apis/userprofile @alexumanamonge
